
<!DOCTYPE html>
<html lang="en">
<head>

<title>Simplus I</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div style="text-align:center;padding-top: 100px;" >
  Welcome <%= username %></br>

  <button onclick="loginout()" class="button">Logout</button>
</div>

</body>

 <script>
 function loginout () {
     //i use replace because i do not want a user to go back to history
    window.location.replace('http://localhost:3002/logout');
  }
    </script>
</html>