<!DOCTYPE html>
<html lang="en">
<head>

<title>Google login</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div style="text-align:center;padding-top: 100px;" >
  <button onclick="login()" class="button">login with google</button>
</div>

</body>

 <script>
 function login () {
    window.location.href='http://localhost:3002/auth/google';
  }
    </script>
</html>